---
import { Image } from "astro:assets";

interface Props {
  imagePath: string;
  altText: string;
}
const { imagePath, altText } = Astro.props;
const images = import.meta.glob<{ default: ImageMetadata }>(
  "/src/assets/*.{jpeg,jpg,png,gif}"
);
if (!images[imagePath])
  throw new Error(
    `"${imagePath}" does not exist in glob: "src/assets/*.{jpeg,jpg,png,gif}"`
  );
---

<div
  class="relative box-content flex items-center justify-center overflow-hidden rounded-full size-10 border-white shadow-md border-[3px] bg-white z-20"
>
  <Image src={images[imagePath]()} alt={altText} />
</div>
