---
import FacebookIcon from "@/icons/FacebookIcon.astro";
import InstagramIcon from "@/icons/InstagramIcon.astro";
import WhatsAppIcon from "@/icons/WhastAppIcon.astro";
import WebsiteIcon from "@/icons/WebsiteIcon.astro";
---

<footer
  class="rounded-lg shadow m-4 bg-black/15 backdrop-blur-lg w-full xl:w-[1120px] mx-auto mb-4"
>
  <div
    class="w-full mx-auto max-w-screen-xl p-4 md:flex md:items-center md:justify-between"
  >
    <span class="text-base text-gray-500 sm:text-center dark:text-gray-400"
      >© 2024 <a href="zongolica.tavel" class="text-green-600 dark:text-blue-500 hover:underline"
        >Herping Zoongolica™</a
      >. Todos los derechos reservados.
    </span>
    <!-- Iconos here -->
    <nav class="flex justify-center items-center gap-4">
      <a
        href="https://www.facebook.com/profile.php?id=100083468072351"
        rel="noopener"
        target="_blank"
        class="group flex justify-center p-2 rounded-md drop-shadow-xl bg-[#1ED760] from-gray-800 to-black text-white font-semibold hover:scale-105 hover:rounded-[50%] transition-all duration-500 hover:from-[#331029] hover:to-[#310413]"
        ><FacebookIcon /> <span class="hidden">Facebook</span>
      </a>
      <a
        href="https://www.instagram.com/herpingzongolica/"
        rel="noopener"
        target="_blank"
        class="group flex justify-center p-2 rounded-md drop-shadow-xl bg-[#1ED760] from-gray-800 to-black text-white font-semibold hover:scale-105 hover:rounded-[50%] transition-all duration-500 hover:from-[#331029] hover:to-[#310413]"
        ><InstagramIcon /> <span class="hidden">Instagram</span></a
      >
      <a
        href="https://wa.me/522721995752"
        rel="noopener"
        target="_blank"
        class="group flex justify-center p-2 rounded-md drop-shadow-xl bg-[#1ED760] from-gray-800 to-black text-white font-semibold hover:scale-105 hover:rounded-[50%] transition-all duration-500 hover:from-[#331029] hover:to-[#310413]"
        ><WhatsAppIcon /><span class="hidden">WhatsApp</span></a
      >
      <a
        href="https://www.zongolica.travel/"
        rel="noopener"
        target="_blank"
        class="group flex justify-center p-2 rounded-md drop-shadow-xl bg-[#1ED760] from-gray-800 to-black text-white font-semibold hover:scale-105 hover:rounded-[50%] transition-all duration-500 hover:from-[#331029] hover:to-[#310413]"
        ><WebsiteIcon /><span class="hidden">Website Oficial</span></a
      >
    </nav>
  </div>
</footer>
