<footer
  class="rounded-lg shadow m-4 bg-black/15 backdrop-blur-lg w-full xl:w-[1120px] mx-auto mb-4"
>
  <div
    class="w-full mx-auto max-w-screen-xl p-4 md:flex md:items-center md:justify-between"
  >
    <span class="text-sm text-gray-500 sm:text-center dark:text-gray-400"
      >© 2024 <a href="zongolica.tavel" class="text-green-600 hover:underline"
        >Herping Zoongolica™</a
      >. Todos los derechos reservados.
    </span>
    <!-- Iconos here -->
    <nav>
      <a href=""></a>
    </nav>
  </div>
</footer>
