<section
  class="m-auto flex w-full max-w-screen-2xl flex-col gap-6 px-3 py-12 text-center md:px-16 md:py-14 md:text-start lg:flex-row lg:gap-12 2xl:gap-32 2xl:px-28 2xl:py-20"
>
  <div
    class="flex w-full min-w-full max-w-lg flex-1 items-center justify-center rounded-2xl bg-slate-50 py-32 lg:min-w-[370px]"
  >
    <img
      src="https://www.tailframes.com/images/illustration.webp"
      alt=""
      width="183"
      height="345"
      sizes="100vw"
      class="h-[172px] w-[91px] md:h-[345px] md:w-[183px]"
    />
  </div>
  <div class="flex flex-col gap-6 lg:gap-12">
    <div class="flex max-w-lg flex-col gap-4">
      <h3 class="text-4xl font-semibold tracking-tight">
        Here is your new
        <br />wireframe kit, welcome!
      </h3>
      <h4 class="text-lg font-normal tracking-tight text-slate-500">
        We've done it carefully and simply.
        <br />Combined with the ingredients makes for beautiful landings.
      </h4>
    </div>
    <div
      class="grid w-full grid-flow-row justify-items-start gap-x-16 gap-y-12 md:grid-cols-2 lg:gap-x-20 2xl:gap-x-32"
    >
      <div
        class="flex w-full flex-col items-center gap-6 md:max-w-[280px] md:items-start"
      >
        <svg
          width="32"
          height="32"
          viewBox="0 0 32 32"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
          stroke-width="1.5"
          class="size-8"
        >
          <path
            d="M22 17.3333C22.3682 17.3333 22.6667 17.0349 22.6667 16.6667C22.6667 16.2985 22.3682 16 22 16C21.6318 16 21.3333 16.2985 21.3333 16.6667C21.3333 17.0349 21.6318 17.3333 22 17.3333Z"
            stroke="#1D4ED8"></path>
          <path
            d="M18.5924 8.56204C19.4812 8.78427 20.3499 9.33364 21.0165 10.0003C21.9055 9.33364 24.3167 7.99999 26 10.0003L22 13.6836"
            stroke="#1D4ED8"></path>
          <path
            d="M10.7219 8.66699C1.12185 13.4669 4.12778 19.5556 7.01667 22L9.01667 26.6667H11.6833V24L12.6424 24.2143C13.9756 24.5123 15.358 24.5139 16.692 24.2191L17.6833 24V26.6667H20.35L22.35 22.6667L27.6833 20V17.3333C27.2389 17.3333 26.2167 17.0667 25.6833 16C25.6833 14.8889 25.1749 12.2756 24.1083 11.7422"
            stroke="#1D4ED8"></path>
          <path
            d="M18.6667 9.33334C18.6667 11.5425 16.8759 13.3333 14.6667 13.3333C12.4575 13.3333 10.6667 11.5425 10.6667 9.33334C10.6667 7.12421 12.4575 5.33334 14.6667 5.33334C16.8759 5.33334 18.6667 7.12421 18.6667 9.33334Z"
            stroke="#93C5FD"
          >
          </path>
        </svg>
        <div
          class="flex max-w-[280px] flex-col items-center gap-4 text-center md:items-start md:gap-6 md:text-start"
        >
          <p class="text-xl font-semibold tracking-tight">Headline</p>
          <p class="text-slate-500">
            We've done it carefully and simply. Combined with the ingredients
            makes for beautiful landings.
          </p>
        </div>
      </div>
      <div
        class="flex w-full flex-col items-center gap-6 md:max-w-[280px] md:items-start"
      >
        <svg
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
          stroke="white"
          stroke-width="1.5"
          class="size-8 stroke-blue-700 [&>g>circle]:stroke-blue-300"
        >
          <g clip-path="url(#clip0_3526_27521)">
            <circle cx="11.8286" cy="11.6814" r="3"></circle>
            <ellipse
              cx="5.40957"
              cy="11.2139"
              rx="5.40957"
              ry="11.2139"
              transform="matrix(-0.707107 0.707107 0.707107 0.707107 7.65082 0)"
            ></ellipse>
            <ellipse
              cx="11.7545"
              cy="11.7546"
              rx="5.40957"
              ry="11.2139"
              transform="rotate(45 11.7545 11.7546)"></ellipse>
          </g>
          <defs>
            <clipPath id="clip0_3526_27521">
              <rect width="24" height="24" fill="white"></rect>
            </clipPath>
          </defs>
        </svg>
        <div
          class="flex max-w-[280px] flex-col items-center gap-4 text-center md:items-start md:gap-6 md:text-start"
        >
          <p class="text-xl font-semibold tracking-tight">Headline</p>
          <p class="text-slate-500">
            We've done it carefully and simply. Combined with the ingredients
            makes for beautiful landings.
          </p>
        </div>
      </div>
      <div
        class="flex w-full flex-col items-center gap-6 md:max-w-[280px] md:items-start"
      >
        <svg
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
          stroke="white"
          stroke-width="1.5"
          class="size-8 stroke-blue-700"
        >
          <path
            d="M10.6226 18.7563C11.052 18.9139 11.516 18.9999 12.0001 18.9999C12.4842 18.9999 12.9482 18.9139 13.3776 18.7563L12.0001 20.9999L10.6226 18.7563Z"
          ></path>
          <path
            d="M21.7777 17.9973C21.9233 17.3549 22.0001 16.6864 22.0001 16C22.0001 11.714 19.0041 8.12768 14.9921 7.22119C14.9498 7.8009 14.7429 8.3349 14.4177 8.77658C14.0722 9.24605 13.5932 9.61121 13.0366 9.81612C13.0793 10.2912 13.159 10.7557 13.2726 11.2067C13.4005 11.7141 13.5715 12.2043 13.7814 12.6734C14.139 13.4722 14.6096 14.2093 15.173 14.8645C15.4142 15.1451 15.6724 15.4106 15.946 15.6595C17.4936 17.0672 19.5339 17.9429 21.7777 17.9973Z"
          >
          </path>
          <path
            d="M2.22241 17.9973C2.07685 17.3549 2 16.6864 2 16C2 11.714 4.99602 8.12768 9.00803 7.22119C9.09519 8.41709 9.88338 9.41844 10.9635 9.81612C10.9208 10.2912 10.8412 10.7557 10.7275 11.2067C10.5996 11.7141 10.4286 12.2043 10.2187 12.6734C9.86109 13.4722 9.39048 14.2093 8.82716 14.8645C8.58594 15.1451 8.32773 15.4106 8.05411 15.6595C6.5065 17.0672 4.46623 17.9429 2.22241 17.9973Z"
          >
          </path>
          <path
            d="M12 16C13.2046 16 14.3096 15.574 15.1728 14.8645C14.6095 14.2093 14.1389 13.4722 13.7813 12.6733C13.228 12.8844 12.6275 13 12 13C11.3725 13 10.772 12.8844 10.2187 12.6733C9.86108 13.4722 9.39046 14.2093 8.82715 14.8645C9.69033 15.574 10.7954 16 12 16Z"
          >
          </path>
          <path
            d="M15.1728 14.8645C15.4141 15.1451 15.6723 15.4106 15.9459 15.6595C15.7082 17.0925 14.7087 18.2682 13.3775 18.7565C12.9481 18.914 12.4841 19 12 19C11.5159 19 11.0519 18.914 10.6225 18.7565C9.2913 18.2682 8.29184 17.0925 8.05411 15.6595C8.32772 15.4106 8.58594 15.1451 8.82716 14.8645"
          >
          </path>
          <path
            d="M13.7813 12.6734C13.5714 12.2044 13.4004 11.7141 13.2725 11.2067C13.1588 10.7558 13.0792 10.2913 13.0365 9.81616C12.7135 9.9351 12.3643 10 12 10C11.6357 10 11.2865 9.9351 10.9635 9.81616C10.9208 10.2913 10.8411 10.7558 10.7275 11.2067C10.5996 11.7141 10.4286 12.2044 10.2187 12.6734"
          >
          </path>
          <path
            d="M15 7C15 7.0744 14.9973 7.14816 14.992 7.2212C14.9497 7.80091 14.7427 8.33491 14.4176 8.77658C14.0721 9.24605 13.593 9.61122 13.0365 9.81612C12.7135 9.93506 12.3643 10 12 10C11.6357 10 11.2865 9.93506 10.9635 9.81612C9.88338 9.41844 9.09519 8.4171 9.00803 7.2212C9.00271 7.14816 9 7.0744 9 7C9 5.34315 10.3431 4 12 4C12.6753 4 13.2985 4.22314 13.7999 4.59972C14.5286 5.14704 15 6.01847 15 7Z"
          >
          </path>
          <path
            d="M10.2001 4.59972C9.4703 3.62832 8.30853 3 7 3"
            stroke-linecap="round"></path>
          <path
            d="M17 3C15.6915 3 14.5297 3.62832 13.7999 4.59972"
            stroke-linecap="round"></path>
        </svg>
        <div
          class="flex max-w-[280px] flex-col items-center gap-4 text-center md:items-start md:gap-6 md:text-start"
        >
          <p class="text-xl font-semibold tracking-tight">Headline</p>
          <p class="text-slate-500">
            We've done it carefully and simply. Combined with the ingredients
            makes for beautiful landings.
          </p>
        </div>
      </div>
      <div
        class="flex w-full flex-col items-center gap-6 md:max-w-[280px] md:items-start"
      >
        <svg
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
          stroke="white"
          stroke-width="1.5"
          class="size-8 stroke-blue-700"
        >
          <path
            d="M3 14.2572C3 16.3865 4.73074 18.1037 6.8714 18.1037C8.01005 18.1037 9.26256 17.7488 9.77495 16.6727H9.86604C9.92297 17.8404 8.5566 18.8249 8.10114 19.3172C7.44072 20.0269 7.85064 21 8.69323 21H14.3068C15.1494 21 15.5593 20.0269 14.8989 19.3172C14.4434 18.8249 13.077 17.8404 13.134 16.6727H13.2251C13.7374 17.7488 14.9786 18.1037 16.1286 18.1037C18.2579 18.1037 20 16.3865 20 14.2572C20 12.0707 18.3831 10.2162 16.2197 10.2162C15.3771 10.2162 14.5345 10.4909 13.8741 11.0175C14.9672 10.136 15.3885 8.99125 15.3885 7.9037C15.3885 5.74007 13.6463 4 11.4943 4C9.35365 4 7.61152 5.74007 7.61152 7.9037C7.61152 8.99125 8.03282 10.136 9.11453 11.0175C8.45412 10.4909 7.62291 10.2162 6.78031 10.2162C4.61688 10.2162 3 12.0707 3 14.2572Z"
            stroke-linejoin="round"></path>
        </svg>
        <div
          class="flex max-w-[280px] flex-col items-center gap-4 text-center md:items-start md:gap-6 md:text-start"
        >
          <p class="text-xl font-semibold tracking-tight">Headline</p>
          <p class="text-slate-500">
            We've done it carefully and simply. Combined with the ingredients
            makes for beautiful landings.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
