---
import CheckIcon from "@/icons/CheckIcon.astro";
---

<section
  class="m-auto flex w-full max-w-screen-2xl flex-col items-start justify-center gap-12 px-6 py-12 md:px-16 2xl:flex-row 2xl:py-16"
>
  <div class="flex flex-col gap-3 text-center md:max-w-xs md:text-left">
    <h2 class="text-4xl font-semibold text-slate-950">Conoce los planes</h2>
    <p class="text-sm text-slate-600">Pensados para ti.</p>
    <img
      src="/img/ilustration.svg"
      alt="Ilustracion de personaje en la parte de planes de la aplicacion para escritorio."
      class="hidden xl:block scale-x-[-1]"
    />
    <img
      src="/img/ilustrationMobile.svg"
      alt="Ilustracion de personaje en la parte de planes d ela aplicacion para mobile."
      class="flex justify-center items-center mt-12 md:hidden w-64 h-64 m-auto mb-0"
    />
  </div>
  <div class="grid grid-cols-1 gap-6 md:grid-cols-2">
    <!-- Basic Pricing Card -->
    <div
      class="card flex max-w-sm flex-1 flex-col items-start justify-between gap-16 overflow-hidden rounded-2xl border border-slate-200 p-6 md:min-h-[520px] md:gap-12 bg-white"
    >
      <div class="inline-flex flex-col items-start justify-start gap-6">
        <div class="flex flex-col items-start justify-start gap-4">
          <!-- Variant Name -->
          <p class="text-lg font-semibold">Free</p>
          <!-- Variant Description -->
          <p class="text-sm leading-tight">
            Para usuarios entusiastas amantes de los anfibios y resptiles.
          </p>
        </div>
        <div class="flex flex-col gap-6 text-slate-600">
          <div class="flex flex-col items-start justify-start gap-4">
            <!-- Feature Item -->
            <div class="inline-flex items-center justify-center gap-3">
              <CheckIcon />
              <p class="text-sm">
                Visualización de fotos e información de un número limitado de
                especies.
              </p>
            </div>
            <!-- Feature Item -->
            <div class="inline-flex items-center justify-center gap-3">
              <CheckIcon />

              <p class="text-sm">
                Subida de fotos de animales por parte de los usuarios
              </p>
            </div>
            <!-- Feature Item -->
            <div class="inline-flex items-center justify-center gap-3">
              <CheckIcon />

              <p class="text-sm">Compartir fotos en redes sociales.</p>
            </div>
            <!-- Feature Item -->
            <div class="inline-flex items-center justify-start gap-3">
              <CheckIcon />

              <p class="text-sm">
                Geolocalización de las especies mas comunes.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="flex w-full flex-col items-start gap-6">
        <!-- Variant Price -->
        <p class="inline-flex items-end justify-start gap-2">
          <span class="text-center text-5xl font-medium">Free</span>
        </p>
        <!-- Action Button -->
        <button
          type="button"
          class="group inline-flex items-center justify-center whitespace-nowrap rounded-lg py-2 align-middle text-sm font-semibold leading-none transition-all duration-300 ease-in-out disabled:cursor-not-allowed bg-green-600 stroke-white px-6 text-white hover:bg-green-700 h-[42px] min-w-[42px] gap-2 w-full disabled:bg-slate-100 disabled:stroke-slate-400 disabled:text-slate-400 disabled:hover:bg-slate-100"
        >
          <span>Registrate ahora</span>
        </button>
      </div>
    </div>

    <!-- Professional Pricing Card -->
    <div
      class="flex max-w-sm flex-1 flex-col items-start justify-between gap-16 overflow-hidden rounded-2xl border border-slate-200 p-6 md:min-h-[520px] md:gap-12 bg-green-700 text-white card"
    >
      <div class="inline-flex flex-col items-start justify-start gap-6">
        <div class="flex flex-col items-start justify-start gap-4">
          <!-- Variant Name -->
          <p class="text-lg font-semibold">Premium</p>
          <!-- Variant Description -->
          <p class="text-sm leading-tight">
            Para usuarios que quieran tener la experiencia mas cercana a la
            realidad.
          </p>
        </div>
        <div class="flex flex-col gap-6 text-white">
          <div class="flex flex-col items-start justify-start gap-4">
            <!-- Feature Item -->
            <div class="inline-flex items-center justify-start gap-3">
              <CheckIcon />

              <p class="text-sm">
                Glosario técnico con infromación detallada de todas las
                especies.
              </p>
            </div>
            <!-- Feature Item -->
            <div class="inline-flex items-center justify-start gap-3">
              <CheckIcon />

              <p class="text-sm">
                Acceso a la totalidad de las fotos e información de las 12 mil
                especies.
              </p>
            </div>
            <!-- Feature Item -->
            <div class="inline-flex items-center justify-start gap-3">
              <CheckIcon />

              <p class="text-sm">
                Filtros de busqueda por temporada, tipo de vegatción, especie,
                lugar, etc.
              </p>
            </div>
            <!-- Feature Item -->
            <div class="inline-flex items-center justify-start gap-3">
              <CheckIcon />

              <p class="text-sm">
                Creación de colecciones o lista de animales.
              </p>
            </div>
            <!-- Feature Item -->
            <div class="inline-flex items-center justify-start gap-3">
              <CheckIcon />

              <p class="text-sm">
                Interacción entre usuario: Puntuación de fotos y aportes .
              </p>
            </div>
            <!-- Feature Item -->
            <div class="inline-flex items-center justify-start gap-3">
              <CheckIcon />

              <p class="text-sm">
                Acceso a la IA para la identificación de especies.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="flex w-full flex-col items-start gap-6">
        <!-- Variant Price -->
        <p class="inline-flex items-end justify-start gap-2">
          <span class="text-center text-5xl font-medium">$5 USD</span>
          <span class="text-sm leading-tight text-white">/mes</span>
        </p>
        <!-- Action Button -->
        <button
          type="button"
          class="group inline-flex items-center justify-center whitespace-nowrap rounded-lg py-2 align-middle text-sm font-semibold leading-none transition-all duration-300 ease-in-out disabled:cursor-not-allowed bg-white/95 stroke-white px-6 text-green-600 hover:bg-white h-[42px] min-w-[42px] gap-2 w-full disabled:bg-slate-100 disabled:stroke-slate-400 disabled:text-slate-400 disabled:hover:bg-slate-100"
        >
          <span>Obtener Premium</span>
        </button>
      </div>
    </div>
  </div>
</section>

<style>
  .card {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    transition: all 0.3s ease-in-out;
  }

  .card:hover {
    transform: scale(1.05);
  }
</style>
